<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="myBehavior" name="HaishengService.Service1">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="LargeSizeMessages" contract="HaishengService.IService1">
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="ndfdXMLBinding" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="LargeSizeMessages" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php"
        binding="basicHttpBinding" bindingConfiguration="ndfdXMLBinding"
        contract="WeatherServiceRef.ndfdXMLPortType" name="ndfdXMLPort" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
